@page "{id:int}"
@model DnDungeons.Pages.Layouts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Layout</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Layout.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Layout.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Layout.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Layout.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Layout.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Layout.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Layout.LastUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Layout.LastUpdated)
        </dd>
        <dt class="col-sm-2">
            Media
        </dt>
        <dd class="col-sm-10">
            @foreach (var lm in Model.LayoutMedias)
            {
                // generating expandible info boxes for each room in the dungeon

                // pre-generate some of the strings I need for the html
                // specifically, the unqieu identifier strings which will link the button to the togglable content
                string headingTitle = "heading" + lm.MediaID;
                string collapseTitle = "collapse" + lm.MediaID;
                string hashedCollapseTitle = "#" + collapseTitle;

                // expandible button (with edit and delete grouped in)
                <div class="row justify-content-center no-gutters">
                    <div class="col-10">
                        <button class="btn btn-list btn-block text-left collapsed" data-toggle="collapse" data-target=@hashedCollapseTitle aria-expanded="false" aria-controls=@collapseTitle>
                            @Html.DisplayFor(modelItem => lm.MediaLabel)
                        </button>
                    </div>
                    <div class="col-1">
                        <a class="btn btn-list btn-block" asp-page="/LayoutMedias/Edit" asp-route-layoutID="@lm.LayoutID" asp-route-mediaID="@lm.MediaID" role="button">Edit</a>
                    </div>
                    <div class="col-1">
                        <a class="btn btn-list btn-block" asp-page="/LayoutMedias/Delete" asp-route-layoutID="@lm.LayoutID" asp-route-mediaID="@lm.MediaID" role="button">Delete</a>
                    </div>
                </div>
                // toggleable content
                <div id=@collapseTitle class="collapse" aria-labelledby=@headingTitle>
                    <div>
                        <!-- Razorpage image rendering from https://stackoverflow.com/questions/17952514/asp-net-mvc-how-to-display-a-byte-array-image-from-model -->
                        <img src="data:image;base64,@System.Convert.ToBase64String(lm.Media.File)" class="img-fluid rounded-0" />
                    </div>
                </div>
            }
            <a class="btn btn-secondary btn-primary" asp-page="/LayoutMedias/Create" asp-route-layoutID="@Model.Layout.ID" role="button"> + </a>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Layout.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
